
.DS_Store
Swift5/10_class_n_struct.playground/playground.xcworkspace/contents.xcworkspacedata
Swift5/10_class_n_struct.playground/playground.xcworkspace/xcuserdata/naver.xcuserdatad/UserInterfaceState.xcuserstate
